    *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    body{
        font-family: 'lato';
        font-size: 15px !important;
        overflow-x: hidden;
    }
    /* start header */
    header{
        background-image: linear-gradient(rgb(0 0 0 / 49%),rgb(0 0 0 / 72%)), url(../img/heroImage.jpg);
        background-size: cover;
        background-position:fixed;
        margin-bottom: 8.3rem;
        background-position: center;
    }
    .navbar-font{
        font-size: 2.9rem !important;
        color: red !important;
        letter-spacing: 1.5px;
    }
    .privacy-police{
        letter-spacing: 1px !important;
    }
    .primery-heading{
        font-size: 2.8rem;
        color: white;
        font-weight: bold;
        word-spacing: -3px;
        letter-spacing: 2px;
        line-height: 4rem;

    }
    .pararagp-header{
        letter-spacing: 0px;
        word-spacing: 1px !important;
        font-size: 1.2rem;
        font-weight: 500;
        
    }
    .download{
        width: 240px;
        height: 64px;
        border-radius: 4rem;
        position: relative;
        color: #fff;
        cursor: pointer;
        border: 1px solid rgb(255, 255, 255);
        padding: 1px 40px !important;
        display: inline-block;
    }
    .apple{
        background: rgb(255, 0, 0);
        border: 0px solid rgb(255, 0, 0);

    }
    .apple-icon {
        color: #fff;
        position: absolute;
        top: 46%;
        left: 18%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
    }
    .play-icon{
            position: absolute;
            top: 46%;
            left: 18%;
            transform: translate(-50%, -50%);
            font-size: 2.2rem;
    }
    .small-text, .big-text{
        position: absolute;
        left: 70px;
    }
    .small-text{
        top: 6px;
        font-size: 1rem
    }
    .big-text{
        top: 24px;
        word-spacing: 2px;
        letter-spacing: 1px;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .image-box{
        margin-top: -20%;
        height: 37%;    
        position: relative !important;
    }
    .img-mobile{
        position: absolute;
        top: -39%;
        right: 39%;
        width: 95%;
        background-position: center;
    }

    .img-mobile2 {
        width: 54%;
        position: absolute;
        top: 11%;
        right: 16%;}
        /* end header */

        /* start section card */
        .secondry-image img{
            height: 308px;
            width: 101%;
            display: inline-block;
            border-radius: 1.2rem;  
        }
        .secondry-background{
            height: 340px;
            width: 96%;
            display: inline-block;
            border-radius: 1.2rem;
            background-image: linear-gradient(#0000007e,#0000007e), url(../img/Grand_Theft_Auto_GTA_5_PlayStation_5_PS5_Grafik_Upgrade.jpg);
            background-size: cover;
            background-position: top;

        }
        
        .seccondry-image_text {
            position: absolute;
            top: 83%;
            left: 38%;
            font-size: 1.5rem;
            font-weight: 700;
            color: rgba(255, 255, 255, 0.734);
        }
        .after_class::after{
            content: "";
            height: 2px;
            width: 48%;
            display: inline-block;
            background-color: rgb(189 192 189);
            margin: 3rem auto;
        }
        .after_class-2::after{
            content: "";
            height: 2px;
            width: 48%;
            display: inline-block;
            background-color: rgb(189 192 189);
            margin: -0.9rem auto 4rem auto;
        }
        .secondry-background-2{
            height: 340px;
            width: 96%;
            display: inline-block;
            border-radius: 1.2rem;
            background-image: linear-gradient(#0000006e,#00000084), url(../img/gta.jpeg);
            background-size: cover;
        }
      
        /* end section card */


/* start section how app work  */
.side-pink-img{
position: absolute;
right: 0%;
top: 80rem;
}

.side-pink-img-2{
    position: absolute;
    left: 0%;
    top: 121rem;
    }
.rotate-180{
    transform: rotate(180deg);
    z-index: -1;
}
.tertiary-heading{
    font-size: 2.29rem;
    font-weight: bold;
    line-height: 1.3;

}
.fourth-heading{
    font-size: 1.4rem;
    font-weight: bold;
    color: red;
}
.fifth-heading{
    font-weight: 400;
    font-size: 1.4rem;
    color: #777;

}
.how-app{
    width: 400px;
    margin-top: -2rem;
    margin-bottom: -4rem;
  
}
.how-app2{
    width: 60%;
  
}

.login-text{
 
    margin: 10rem auto;
}


/* end section how app work  */

        /* start section other saying */
       
        .section-other_saying{
            margin-top: -2rem;
        }
.card-decoratate{
    color: rgb(144, 142, 142);
    font-size: 1rem;
    /* font-weight: 500; */
}.text-card-bottom{
    color: rgb(144, 142, 142);
    font-size: 1rem;
    font-weight: 500;
}

.card-user-name{
     text-align: center;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 1.3rem;     

}
        /* end section other saying */

        /* start section contact us */
.section-contact_us{
    /* height: 60vh; */
    background-image:linear-gradient(#0000007e,#0000007e),  url(../img/heroImage.jpg);
    margin: 2rem auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem 0 2rem 0px;
}

.input-tab{
    background-color: transparent;
    width: 20%;
    height: 52px;
    /* margin-left: -5rem; */
    border: 1px solid white;
    font-size: 1.6rem;
    color: white;
    padding: 1rem 1rem;
}
.submit-btn{
    padding: 0.9rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 6rem;
    font-weight: 700;
    margin-left: 1rem;
    background-color: red;
    color: white;
    letter-spacing: 1px;
    border: none;
    border-top: 1px solid red;  
}
::placeholder{
    color: white;
}


        /* end section contact us */
        /* start section faq */

.faq-header{
    font-weight: bold;
    font-size: 1.3rem; 
}
.faq-text-bottom{
    font-size: 1rem;
    font-weight: 500;
    color: red;
}
.backgroun-icon-faq{
    background-color: red;
    padding: 0.1rem 0.5rem 0rem 0.4rem;
    height: 34px;
    border-radius: 3rem;
    font-size: 1.2rem;
    outline: 2px solid red;
    outline-offset: 2.7px;
    margin-top: 1.4rem;
}
.faqq-text{
    font-size: 1.02rem;
}
        /* end sectin faq */


        /* start footer */
.section-footer{
    /* height: 10vh; */
    background-color: #252b42;
    padding: 2rem auto;
    margin-top: 3rem;
}
.navbar-fontt{
    font-size: 2.3rem !important;
    color: rgb(255, 255, 255) !important;
    
}
.backgroun-icon-footer{
   
    background-color: white;
    color: black;
    margin-left: 1px;
    padding-left: 7px;
    border-radius: 2rem;
    padding-top: 4px;
    padding-bottom: 4.5px;
    font-size: .8rem;
    padding-right: 7px;

}
.backgroun-icon-f-footer{
    background-color: white;
    color: black;
    /* margin-left: 1px; */
    padding-left: 9px;
    border-radius: 2rem;
    padding-top: 4px;
    padding-bottom: 4.5px;
    font-size: .8rem;
    padding-right: 11px;
    font-weight: 800;
}
.footer-loogo{
    
    /* background-color: white  ; */
    border-radius: 1rem;
    padding: .4rem;
}
        /* end footer */