.choose-food{
   
   &__box{ padding: .3rem;
      position: relative;

    @media only screen and (max-width:575px) {
       padding: 2rem;
        
    }
   }

   &__img{
    width: 100%;
   }
   &__6{
      position: absolute;
      top: 43%;
      left: 44%;
      z-index: 4;
      transform: translate(-50%,-50%);
      color: orange;
      background-color: white;
      padding: 0.3rem 1rem;
      border-radius: 5px;

      @media only screen and (max-width:575px) {
        font-size: 3rem;
        
          
      }

      @media only screen and (max-width:330px) {
         font-size: 2rem;
         
           
       }


   }
   &__6-food{
      background-color: orange;
      color: white;
      position: absolute;
      top: 60%;
      left: 28%;
      padding: 0.7rem 1.5rem;
      width: max-content;
      border-radius: 5px;

         
      @media only screen and (max-width:575px) {
         left: 50%;
         // width: 100%;
         // padding: .2rem;
             
         }


      @media only screen and (max-width:250px) {
         left: 40%;
         // width: 100%;
         padding: .2rem;
             
         }
   }
}