.resturent-active{

    &__play-icon{
        background-color: $color-yello;
        padding: .2rem .6rem .1rem .7rem;
        margin-left: 1.5rem;
        margin-right: .6rem;
        border-radius: 50%;
        font-size: 2rem;
        // align-self: center;
        align-self: end;
    }

    &__last-test-box{
        align-items: center;
        display:flex;
        justify-content: end;
        // margin-bottom: 5rem;
    }
}