$color-black: #0e0e0eea;
$color-dark: #324252ea;
$color-white: #fff;
$color-light-grey: #f1f1f1;
$color-grey: #e0e0e0;
$color-dark-grey: #8a8fa3;
// $color-dark-grey: #8a8fa3;
$color-primary: #754ef9;

