* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 15px; }
  @media only screen and (max-width: 700px) {
    html {
      font-size: 10px; } }

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: #dfe1e2;
  font-weight: 300; }

.row {
  margin-right: 0 !important; }

.choose-food {
  margin-top: 7rem; }

.extra-ordinary {
  margin-top: 7rem; }

.meet-our-chef {
  margin: 5rem 0; }

.resturent-active {
  background-image: url(../img/r1-process-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 5rem 0;
  background-size: cover;
  padding: 1rem 0;
  width: 100%; }

.from-our-menu__logo {
  color: #ff9f0f;
  font-weight: 500;
  font-size: 1.17rem !important; }

.from-our-menu__link {
  color: white;
  padding-left: 6rem !important;
  letter-spacing: 1.5px;
  font-size: 1.1rem; }

.from-our-menu__icon {
  color: white !important; }

.from-our-menu__img-box {
  background-image: url(../img/bg-flower.png);
  width: 100%;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 1200px) {
    .from-our-menu__img-box {
      margin-left: -4rem; } }
  @media only screen and (max-width: 991px) {
    .from-our-menu__img-box {
      margin-left: 0; } }

.from-our-menu__img {
  padding-left: 5rem; }
  @media only screen and (max-width: 575px) {
    .from-our-menu__img {
      width: 68%; } }

.from-our-menu__sub-box {
  display: flex;
  margin-bottom: 1.56rem; }
  .from-our-menu__sub-box img {
    height: 4.8rem; }

.from-our-menu__sub-text-box {
  margin-left: .5rem; }
  .from-our-menu__sub-text-box h6 {
    margin-bottom: 0rem; }
  .from-our-menu__sub-text-box p {
    margin-top: .29rem;
    margin-bottom: .5rem; }

.footer__ul {
  padding-left: 0;
  list-style: none; }
  .footer__ul li {
    margin-top: 1.2rem;
    font-size: 1.09rem;
    text-transform: capitalize; }

.footer__paragraph {
  font-size: .8rem;
  width: 70%;
  margin-bottom: 2.2rem; }

.footer__clock-box {
  display: flex;
  align-items: center;
  font-size: .8rem; }

.footer__recent-photo {
  margin-bottom: 1rem; }
  .footer__recent-photo p {
    margin-bottom: 0; }

.footer__icon {
  background-color: #ff9f0f;
  padding: 1.2rem 1.3rem 1rem 1.2rem;
  margin-right: 1rem;
  font-size: 1.5rem; }

.footer__date {
  font-size: .7rem;
  color: #b5b5b5; }

.footer__copy-right {
  background-color: #ff9f0f;
  padding: 1rem 0 .7rem 0;
  margin-top: 2rem; }

.footer__copy-icon {
  display: flex;
  justify-content: end; }
  .footer__copy-icon img {
    margin-left: 1rem; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 0.91)), url(../img/r-1header.png);
  height: 95vh;
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 992px) {
    .header {
      height: min-content; } }
  .header__flower {
    height: 100%;
    width: 100%; }
    @media only screen and (max-width: 992px) {
      .header__flower img {
        margin-top: -24rem; } }
  .header__text-box {
    padding-left: .8rem;
    padding-right: 2.5rem;
    margin-top: 6rem; }
    @media only screen and (max-width: 575px) {
      .header__text-box {
        margin-top: 1rem; } }
  .header__text-box2 {
    padding-right: 7rem; }
    @media only screen and (max-width: 575px) {
      .header__text-box2 {
        padding-right: 1rem; } }
  .header__text-box3 {
    padding-right: 1rem;
    padding-left: 6rem; }
    @media only screen and (max-width: 575px) {
      .header__text-box3 {
        padding-right: 1rem;
        padding-left: 1rem; } }
  .header__text-box4 {
    width: 47%;
    margin-left: auto;
    text-align: right;
    padding: 6rem 0; }
    @media only screen and (max-width: 992px) {
      .header__text-box4 {
        width: 100%; } }
  .header__1 {
    margin-bottom: 1.5rem; }
    .header__1 span {
      color: #ff9f0f; }
  .header__we-are-creat-paragraph::before {
    content: '\2713';
    display: inline-block;
    color: white;
    margin-right: 1rem;
    font-weight: bold;
    margin-top: .4rem; }
  .header__we-are-creat-img1 {
    width: 100%;
    margin-top: 6rem; }
  .header__we-are-creat-img2 {
    padding-top: 1rem; }

.navbar__link {
  font-size: .89rem;
  font-weight: 300;
  color: #ffffffd9;
  margin-right: .8rem; }

.navbar__nav-item {
  position: relative; }

.navbar__link:hover::after, .navbar__link:focus::after {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  content: "";
  position: absolute;
  display: inline-block;
  background-color: orange;
  left: 37%;
  bottom: 4%; }
  @media only screen and (max-width: 992px) {
    .navbar__link:hover::after, .navbar__link:focus::after {
      left: 1rem; } }

.navbar__form-control {
  background-color: transparent;
  border-radius: 49px;
  border: 1px solid orange;
  padding: 0.6rem 4.5rem .6rem 1.5rem;
  font-size: .9rem;
  color: #d7d4d4 !important; }

.navbar__form-control:focus {
  background-color: transparent; }

.navbar__input-icon {
  color: white;
  margin-left: -4rem;
  font-size: 1.6rem;
  align-self: center; }

.navbar__input-icon2 {
  color: white;
  align-self: center; }

.dropdown-icon {
  font-size: .5rem !important; }

::placeholder {
  color: #dbdada !important; }

.extra-ordinary__img {
  width: 100%;
  align-self: end; }

.extra-ordinary__2nd-imges-box img {
  width: 114%;
  border-radius: 4px; }

.extra-ordinary__Years-box {
  background-color: orange;
  width: 22rem;
  border-radius: 5px; }
  @media only screen and (max-width: 250px) {
    .extra-ordinary__Years-box {
      width: 18rem; } }

.extra-ordinary__Years-text {
  background-color: white;
  width: 97%;
  margin-left: 3%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-evenly; }

.extra-ordinary__years-experience-box {
  align-self: center;
  display: inline-block; }
  .extra-ordinary__years-experience-box p {
    color: #646464;
    font-size: 1.18rem;
    font-weight: 400; }
  .extra-ordinary__years-experience-box h5 {
    font-weight: 700;
    font-size: 1.4rem; }

.extra-ordinary__years-of {
  margin-bottom: 0; }

.meet-our-chef__bg-img {
  background-repeat: no-repeat;
  background-image: url(../img/image.png);
  margin-top: -5.5rem; }

.meet-our-chef__row {
  padding-top: 7.5rem; }
  @media only screen and (max-width: 575px) {
    .meet-our-chef__row {
      padding-left: 5rem;
      padding-right: 5rem; } }
  @media only screen and (max-width: 330px) {
    .meet-our-chef__row {
      padding-left: 1rem;
      padding-right: 1rem; } }

.meet-our-chef__img-box {
  position: relative;
  margin-bottom: 1rem; }

.meet-our-chef__img {
  width: 100%; }

.meet-our-chef__text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 60%;
  padding-left: 1rem;
  padding-top: 8px;
  padding-bottom: 5px; }
  .meet-our-chef__text-box h6 {
    margin-bottom: 5px;
    color: black;
    font-size: 1.1rem;
    font-weight: 600; }
  .meet-our-chef__text-box p {
    margin-bottom: 5px;
    color: gray; }

.meet-our-chef__see-more {
  margin-top: 5rem;
  text-decoration: none;
  color: #efeeee;
  border: 1px solid #ff9f0f;
  padding: .8rem 2rem;
  border-radius: 100px;
  font-size: .9rem;
  letter-spacing: 1px; }

.resturent-active__play-icon {
  background-color: #ff9f0f;
  padding: .2rem .6rem .1rem .7rem;
  margin-left: 1.5rem;
  margin-right: .6rem;
  border-radius: 50%;
  font-size: 2rem;
  align-self: end; }

.resturent-active__last-test-box {
  align-items: center;
  display: flex;
  justify-content: end; }

.professional-chefs {
  margin: 7rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.77)), url(../img/r1counter.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center; }
  @media only screen and (max-width: 992px) {
    .professional-chefs {
      background-image: none; } }
  .professional-chefs__row {
    padding: 8rem 0; }
    @media only screen and (max-width: 991px) {
      .professional-chefs__row {
        padding: 0; } }
  .professional-chefs__column {
    display: flex;
    align-self: start; }
    @media only screen and (max-width: 992px) {
      .professional-chefs__column {
        display: block; } }
  .professional-chefs__box {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .professional-chefs__box img {
      height: 7rem; }
    @media only screen and (max-width: 992px) {
      .professional-chefs__box {
        margin-bottom: 4rem; } }
    .professional-chefs__box h1,
    .professional-chefs__box h4 {
      color: white; }
    .professional-chefs__box h4 {
      font-size: 1.6rem; }
    .professional-chefs__box h1 {
      font-size: 2.4rem; }

.heading__1 {
  font-size: 3.3rem;
  color: white;
  font-weight: 700; }

.heading__2 {
  font-size: 2.7rem;
  color: white;
  font-weight: 500; }

.heading__5 {
  color: white;
  font-size: 1.36rem; }
  .heading__5 span {
    color: #ff9f0f; }

.heading__6 {
  font-weight: 500;
  font-size: 1.2rem; }

.heading__coge-text {
  font-family: 'Great Vibes', 'cursive';
  color: #e9920f;
  font-size: 1.68rem; }

.paragraph__p {
  font-size: .89rem; }

.btn-more {
  padding: .9rem 3rem;
  background-color: #ff9f0f;
  border-radius: 4rem;
  color: white;
  font-size: .89rem;
  margin-top: .8rem; }
  .btn-more:hover {
    background-color: #a1650a !important; }

.sidebar__icons {
  position: relative;
  top: -26.5rem;
  left: -4rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sidebar__icons i {
    font-size: .6rem; }

.sidebar__icons::before,
.sidebar__icons::after {
  height: 8rem;
  width: .9px;
  content: "";
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.563);
  margin: 2rem 0; }

.testimonials__bg-img {
  background-repeat: no-repeat;
  height: 100%;
  width: 41%;
  position: absolute;
  top: 4rem;
  right: 2rem; }

.testimonials__box {
  background-color: white;
  width: 65%;
  color: black;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 0 7rem;
  text-align: center; }
  @media only screen and (max-width: 1200px) {
    .testimonials__box {
      padding: 0 2rem; } }
  @media only screen and (max-width: 992px) {
    .testimonials__box {
      width: 100%; } }
  @media only screen and (max-width: 575px) {
    .testimonials__box {
      padding: 0 0rem; } }

.testimonials__img {
  margin-top: -4rem;
  width: 20%; }

.testimonials__99 {
  margin: 2.5rem 0;
  font-family: 'Exo', sans-serif;
  color: #ff9f0f;
  font-size: 2rem;
  font-weight: 600; }

.testimonials__paragraph {
  font-weight: 400;
  color: #3d3b3b;
  font-size: 1.01rem; }

.testimonials__icon-box {
  margin: 1.9rem 0 1.1rem 0; }

.testimonials__icon {
  font-size: 1.5rem;
  color: gray; }

.testimonials__icon:not(:last-child) {
  margin-right: .2rem; }

.testimonials__h4 {
  font-size: 1.43rem;
  font-weight: 700; }

.testimonials__last-text {
  font-weight: 400;
  font-size: .9rem;
  color: gray;
  padding-bottom: 1.5rem; }

.testimonials__ratting-star input {
  display: none; }

.testimonials__ratting-star label {
  display: inline-block;
  width: 23px;
  position: relative;
  /* display: none; */
  cursor: pointer; }

.testimonials__ratting-star label::before {
  content: "\1F7CA";
  font-size: 34px;
  color: gray;
  display: inline-block;
  left: 0;
  top: 0; }

.testimonials__ratting-star label::after {
  content: "\1F7CA";
  position: absolute;
  font-size: 34px;
  color: #ffea00;
  display: inline-block;
  left: 0;
  top: 0;
  opacity: 0; }

.testimonials__ratting-star input:checked ~ label::after {
  opacity: 1; }

.carousel-indicators {
  bottom: -4rem !important; }

.carousel-indicators [data-bs-target] {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ff9f0f; }

.choose-food__box {
  padding: .3rem;
  position: relative; }
  @media only screen and (max-width: 575px) {
    .choose-food__box {
      padding: 2rem; } }

.choose-food__img {
  width: 100%; }

.choose-food__6 {
  position: absolute;
  top: 43%;
  left: 44%;
  z-index: 4;
  transform: translate(-50%, -50%);
  color: orange;
  background-color: white;
  padding: 0.3rem 1rem;
  border-radius: 5px; }
  @media only screen and (max-width: 575px) {
    .choose-food__6 {
      font-size: 3rem; } }
  @media only screen and (max-width: 330px) {
    .choose-food__6 {
      font-size: 2rem; } }

.choose-food__6-food {
  background-color: orange;
  color: white;
  position: absolute;
  top: 60%;
  left: 28%;
  padding: 0.7rem 1.5rem;
  width: max-content;
  border-radius: 5px; }
  @media only screen and (max-width: 575px) {
    .choose-food__6-food {
      left: 50%; } }
  @media only screen and (max-width: 250px) {
    .choose-food__6-food {
      left: 40%;
      padding: .2rem; } }

.blog-past {
  padding-bottom: 2rem; }
  @media only screen and (max-width: 767px) {
    .blog-past {
      padding: 5rem; } }
  @media only screen and (max-width: 330px) {
    .blog-past {
      padding: .3rem; } }
  .blog-past__box {
    border: 1px solid white;
    border-top: none; }
    @media only screen and (max-width: 992px) {
      .blog-past__box {
        margin-bottom: 2rem; } }
  .blog-past__img {
    width: 100%; }
  .blog-past__text-box {
    padding: 2rem 2.5rem 1rem 2.5rem; }
  .blog-past__date {
    color: #ff9f0f;
    font-size: .9rem; }
  .blog-past__learn-more-box {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 0;
    align-items: center; }
  .blog-past__learn-more {
    font-size: .9rem;
    margin-bottom: 0;
    margin-right: auto; }
  .blog-past__like {
    font-size: 1.17rem; }
  .blog-past__comment {
    font-size: .9rem;
    color: #ff9f0f; }
  .blog-past__share {
    font-size: .9rem; }
  .blog-past__input-form {
    position: relative;
    display: flex;
    justify-content: end;
    font-size: .8rem; }
    @media only screen and (max-width: 767px) {
      .blog-past__input-form {
        justify-content: start; } }
  .blog-past__input {
    background-color: #ff9f0f;
    font-weight: 300;
    padding: .9rem .9rem;
    flex: 0 1 49%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none; }
  .blog-past__submit {
    color: red;
    background-color: white;
    padding: .3rem 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -2rem !important; }

.blog-past::after {
  content: "";
  width: 75%;
  margin: 2rem auto;
  height: 1px;
  background-color: #ff9f0f;
  display: block; }
