
$color-primary:#bb9a6b;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
box-sizing: border-box;
font-size:15px;
@media only screen and (max-width:700px) {
    font-size: 10px;
    
}
@media only screen and (max-width:500px) {
    font-size: 8px;
    
}
}

body{
    font-family:'Roboto', sans-serif;
    // background-color: black;
    color: #000000;
    font-weight: 400;
  

}
.containerr{
    width: 1100px;
    margin: 0 auto;

    @media only screen and (max-width: 1400px){
    max-width: 920px;
}

@media only screen and (max-width: 1200px) {
    max-width: 740px;
}
@media only screen and (max-width: 992px)
 {
    max-width: 500px;
}


@media only screen and (max-width: 500px)
 {
    max-width: 100%;
}
}

.row{
    margin-right: 0 !important;
}
.paragraph{
font-size: .89rem;
}

.icoc-box{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    i{
        background-color: white;
        color: #bb9a6b;
    padding: 0.4rem 0.7rem;
    margin-bottom: 0.6rem;
    }
}





// <div class="row">
//         <div class="col text-center d-flex justify-content-center">
//           <div style="width: 33%;">
//             <h2 class="heading__2">Coffee Category</h2>
//             <p class="paragraph__p">Lorem ipsum dolor sit s tempore similique ipsum ipsa odio porro? Rerum obcaecati optio cum quos
//               quasi rep!</p>
//           </div>
//         </div>
//       </div>