/* Option 2: Import via CSS */
.footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.592), rgba(0, 0, 0, 0.638)), url(../img/footerim.JPG);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 10rem 0 4rem 0;

    &__logo {
        font-weight: 600 !important;
        font-size: 1.6rem !important;
        margin-bottom: 1rem;

        span {
            color: $color-primary;
        }
    }

    &__paragraph {
        color: rgb(232, 232, 232);
        font-weight: 300;
        padding-right: 7rem;
    }

    &__explore {
        font-size: 1.1rem;
        margin-bottom: .5rem;
        &-ul {
            list-style: none;
            padding-left: 0;
        }
        &-li {
            margin-top: 1.3rem;
            color: rgba(255, 255, 255, 0.83);
            font-weight: 300;
        }
        &-li::before{
            content: "\003E";
            display: inline-block;
            margin-right: 1rem;
            // content: url(../img/download-removebg-preview.png);
            // width: 50px !important;

        }
    }

    &__contact-us {
        font-size: 1.1rem !important;
        margin-bottom: .5rem;

        &-ul {
            list-style: none !important;
            padding-left: 0;
        }

        &-li {
            margin-top: 1.3rem;
            color: rgba(255, 255, 255, 0.83);
            font-weight: 300;
        }
    }

}

.copy-right{
    // background-image: url(../img/footerleef.png);
    // background-repeat: no-repeat;
    // background-size: 3rem;
    // background-position: right;
}