.partners-client {
    margin-bottom: 12rem;

    &__box {
        text-align: center;
        align-items: center;

        img {
            margin-bottom: 2rem;
        }
    }

    &__coge-text {
        font-family: 'Great Vibes', 'cursive';
        font-size: 1.4rem;
        color: $color-primary;
    }

    &__email-box {
        padding: 4rem 3rem;
        margin-top: -16rem;
        box-shadow: 0px -3px 36px 11px hsla(0, 0%, 0%, 0.03);
        background-color: white;
        margin-bottom: 3rem;

        @media only screen and (max-width: 205px) {
            padding: 4rem 0;
        }
    }

    &__email-heading {
        color: black;
    }

    &__input-box {
        flex-grow: 1;
        display: flex;
        margin-top: 1rem;
    }

    &__input {
        padding: .6rem 1rem;
        border: 1px solid $color-primary;
        flex-grow: 2;
    }

    &__input:focus {
        border-radius: 0px;
    }

    &__submit {
        flex-grow: 1;
        background-color: $color-primary;
        border: none;
        margin-left: -.2rem;
        color: white;
    }

    &__icon-box {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        background-color: white;

        i {
            background-color: $color-primary;
            padding: .4rem .5rem;
            border-radius: 5px;
            font-size: .8rem;
            margin-left: .5rem;
        }
    }
}