.pop-over{
    
    &__item{
        
        position: relative;
     
    }
    &__img{
        width:100%;
        height: 100vh;

        @media only screen and (max-width:700px) {
            height: 60vh;
        }

    }
    &__icon{
        position: absolute;
        font-size: 2rem;
        padding: 0.01rem 1rem 0.6rem 1rem;
        font-weight: 700;
        color: white;
        background-color: #e76811;
        border-radius: 7px;
    }

    &__icon:focus{
        background-color:transparent !important;

    }
    &__icon-1{
        top: 27%;
        left: 26%;
    }

    &__icon-2{
        top: 60%;
        left: 50%;
    }

    &__icon-3{
        top: 27%;
        right: 27%;
    }

    &__icon-4{
        top: 60%;
        right: 12%;
    }
}