* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 15px; }
  @media only screen and (max-width: 700px) {
    html {
      font-size: 10px; } }
  @media only screen and (max-width: 500px) {
    html {
      font-size: 8px; } }

body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-weight: 400; }

.containerr {
  width: 1100px;
  margin: 0 auto; }
  @media only screen and (max-width: 1400px) {
    .containerr {
      max-width: 920px; } }
  @media only screen and (max-width: 1200px) {
    .containerr {
      max-width: 740px; } }
  @media only screen and (max-width: 992px) {
    .containerr {
      max-width: 500px; } }
  @media only screen and (max-width: 500px) {
    .containerr {
      max-width: 100%; } }

.row {
  margin-right: 0 !important; }

.paragraph {
  font-size: .89rem; }

.icoc-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1.8rem;
  right: 1rem; }
  .icoc-box i {
    background-color: white;
    color: #bb9a6b;
    padding: 0.4rem 0.7rem;
    margin-bottom: 0.6rem; }

.about-us {
  margin: 7rem 0; }
  @media only screen and (max-width: 519px) {
    .about-us {
      padding: 0 1rem; } }
  .about-us__img-box {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 1fr); }
  .about-us__img {
    height: 100%;
    grid-column: 1/10;
    grid-row: 1/14; }
    @media only screen and (max-width: 576px) {
      .about-us__img {
        grid-column: 1/-1;
        grid-row: 1/-1;
        width: 80%;
        margin: 0 auto; } }
    @media only screen and (max-width: 400px) {
      .about-us__img {
        width: 100%; } }
    .about-us__img-cup {
      transform: scaleX(1.3);
      height: 100%;
      grid-column: 1/7;
      grid-row: 8/16; }
      @media only screen and (max-width: 576px) {
        .about-us__img-cup {
          display: none; } }
  .about-us__img-dot {
    position: absolute;
    top: 26%;
    right: 2rem;
    width: 19%;
    z-index: -1; }
    @media only screen and (max-width: 576px) {
      .about-us__img-dot {
        display: none; } }
  .about-us__about {
    font-weight: 400;
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-size: 1.7rem;
    z-index: 1;
    padding-bottom: .5rem; }
  .about-us__2 {
    color: rgba(0, 0, 0, 0.762);
    margin-top: -1rem; }
  .about-us__paragrahp {
    font-weight: 400;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem; }
  .about-us__check-mark, .about-us__check-mark-black {
    font-weight: 600;
    font-size: 1.01rem;
    color: #474747;
    margin-bottom: .6rem; }
  .about-us__check-mark::before {
    content: '\2713';
    display: inline-block;
    margin-right: .3rem;
    padding: 0.1rem 0.6rem;
    background-color: rgba(128, 128, 128, 0.246);
    font-weight: 300; }
  .about-us__check-mark-black::before {
    content: '\2713';
    display: inline-block;
    margin-right: .3rem;
    color: white;
    padding: 0.1rem 0.6rem;
    background-color: rgba(0, 0, 0, 0.983);
    font-weight: 300; }
  .about-us__btn {
    padding: .6rem 3rem;
    background-color: #bb9a6b;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    display: flex;
    align-items: center;
    width: max-content;
    margin-top: 2rem; }
    .about-us__btn i {
      font-size: 1.5rem;
      font-weight: 200; }

/* Option 2: Import via CSS */
.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.592), rgba(0, 0, 0, 0.638)), url(../img/footerim.JPG);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 10rem 0 4rem 0; }
  .footer__logo {
    font-weight: 600 !important;
    font-size: 1.6rem !important;
    margin-bottom: 1rem; }
    .footer__logo span {
      color: #bb9a6b; }
  .footer__paragraph {
    color: #e8e8e8;
    font-weight: 300;
    padding-right: 7rem; }
  .footer__explore {
    font-size: 1.1rem;
    margin-bottom: .5rem; }
    .footer__explore-ul {
      list-style: none;
      padding-left: 0; }
    .footer__explore-li {
      margin-top: 1.3rem;
      color: rgba(255, 255, 255, 0.83);
      font-weight: 300; }
    .footer__explore-li::before {
      content: "\003E";
      display: inline-block;
      margin-right: 1rem; }
  .footer__contact-us {
    font-size: 1.1rem !important;
    margin-bottom: .5rem; }
    .footer__contact-us-ul {
      list-style: none !important;
      padding-left: 0; }
    .footer__contact-us-li {
      margin-top: 1.3rem;
      color: rgba(255, 255, 255, 0.83);
      font-weight: 300; }

.header {
  background-image: linear-gradient(#1b1b1bfc, #1b1b1bfc), url(../img/image74.png);
  background-position: center;
  background-size: 11rem; }
  @media only screen and (max-width: 519px) {
    .header {
      padding: 0 1rem; } }

.navbar__link {
  font-size: .89rem;
  font-weight: 400;
  color: #ffffffc7;
  margin-right: .8rem; }

.navbar__nav-item {
  position: relative; }

.navbar__link:hover::after, .navbar__link:focus::after {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #bb9a6b;
  left: 37%;
  bottom: 4%; }
  @media only screen and (max-width: 992px) {
    .navbar__link:hover::after, .navbar__link:focus::after {
      left: 1rem; } }

.navbar__link:hover, .navbar__link:focus {
  color: #bb9a6b; }

.navbar__input-icon {
  color: white;
  margin-left: -4rem;
  font-size: 1.4rem;
  align-self: center; }
  .navbar__input-icon-2 {
    color: white;
    align-self: center;
    font-size: 1.3rem; }
  .navbar__input-icon-3 {
    color: white;
    align-self: center; }

.dropdown-icon {
  font-size: .5rem !important; }

.partners-client {
  margin-bottom: 12rem; }
  .partners-client__box {
    text-align: center;
    align-items: center; }
    .partners-client__box img {
      margin-bottom: 2rem; }
  .partners-client__coge-text {
    font-family: 'Great Vibes', 'cursive';
    font-size: 1.4rem;
    color: #bb9a6b; }
  .partners-client__email-box {
    padding: 4rem 3rem;
    margin-top: -16rem;
    box-shadow: 0px -3px 36px 11px rgba(0, 0, 0, 0.03);
    background-color: white;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 205px) {
      .partners-client__email-box {
        padding: 4rem 0; } }
  .partners-client__email-heading {
    color: black; }
  .partners-client__input-box {
    flex-grow: 1;
    display: flex;
    margin-top: 1rem; }
  .partners-client__input {
    padding: .6rem 1rem;
    border: 1px solid #bb9a6b;
    flex-grow: 2; }
  .partners-client__input:focus {
    border-radius: 0px; }
  .partners-client__submit {
    flex-grow: 1;
    background-color: #bb9a6b;
    border: none;
    margin-left: -.2rem;
    color: white; }
  .partners-client__icon-box {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: white; }
    .partners-client__icon-box i {
      background-color: #bb9a6b;
      padding: .4rem .5rem;
      border-radius: 5px;
      font-size: .8rem;
      margin-left: .5rem; }

.coffee-category__img {
  height: max-content;
  width: min-content;
  margin-right: .5rem; }
  @media only screen and (max-width: 700px) {
    .coffee-category__img {
      width: 5rem; } }

.coffee-category__width {
  width: 33%;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 992px) {
    .coffee-category__width {
      width: 60%; } }
  @media only screen and (max-width: 278px) {
    .coffee-category__width {
      width: 100%; } }

@media only screen and (max-width: 767px) {
  .coffee-category__img-box {
    width: 70%; } }

.coffee-category__cup-img {
  width: 75%;
  margin-top: -3rem; }

.coffee-category__leef {
  position: absolute;
  left: 1rem;
  bottom: 0;
  width: 60%;
  z-index: -1; }

.coffee-category__leef2 {
  position: absolute;
  right: 0rem;
  bottom: 3rem;
  width: 65%;
  z-index: -1; }

.our-favorite-menu {
  margin-top: -3rem;
  margin-bottom: 5rem; }
  .our-favorite-menu__heading {
    width: 33%; }
    @media only screen and (max-width: 1200px) {
      .our-favorite-menu__heading {
        width: 70%; } }
    @media only screen and (max-width: 300px) {
      .our-favorite-menu__heading {
        width: 100%; } }
  @media only screen and (max-width: 992px) {
    .our-favorite-menu {
      margin-top: -3rem; } }
  .our-favorite-menu__nav-box {
    display: flex;
    align-items: end;
    margin-top: 1.5rem;
    background: white;
    padding: 1rem;
    color: #454545;
    cursor: pointer; }
    .our-favorite-menu__nav-box h5 {
      font-size: 1.25rem;
      font-weight: 600;
      margin-left: 1rem; }
  .our-favorite-menu__nav-box:hover:hover {
    background-color: #bb9a6b !important; }
  .our-favorite-menu__coffee-been-box {
    padding-left: 1rem; }
    .our-favorite-menu__coffee-been-box h4 {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0;
      color: #454545; }
    .our-favorite-menu__coffee-been-box i {
      font-size: .83rem;
      color: #bb9a6b; }
  .our-favorite-menu__img {
    width: 100%; }
  .our-favorite-menu__body {
    padding: 1rem; }
  .our-favorite-menu__icoc-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.8rem;
    right: 1rem; }
    .our-favorite-menu__icoc-box i {
      background-color: rgba(255, 255, 255, 0.864);
      color: #3d3d3c;
      padding: 0.4rem 0.7rem;
      margin-bottom: 0.6rem; }
  .our-favorite-menu__indicators {
    bottom: -3rem !important; }

.latest-news {
  margin: 3rem 0 7rem 0; }
  .latest-news__img {
    width: 100%; }
  .latest-news__text-box {
    padding: 1.4rem; }
  .latest-news__heading {
    font-weight: 600;
    color: #4b4b4b;
    margin-top: 1rem; }
  .latest-news__detail {
    font-size: .9rem;
    color: gray; }
    .latest-news__detail i {
      color: #bb9a6b; }
  .latest-news__btn {
    text-decoration: none;
    color: #bb9a6b;
    padding: .6rem 2rem;
    border: 1px solid #bb9a6b;
    border-radius: 5px;
    display: flex;
    width: max-content;
    align-items: center; }

.heading__1 {
  font-size: 3.3rem;
  color: #bb9a6b;
  font-weight: 700; }

.heading__2 {
  font-size: 2.65rem;
  font-weight: 700;
  color: #373737; }

.heading__3 {
  font-weight: 600;
  font-size: 1.8rem; }

.heading__4 {
  font-weight: 600;
  font-size: 1.5rem; }

.heading__5 {
  font-size: 1.36rem; }
  .heading__5 span {
    color: #bb9a6b; }

.heading__6 {
  font-weight: 500; }

.heading__coge-text {
  font-family: 'Great Vibes', 'cursive';
  color: #e9920f;
  font-size: 1.68rem; }

.paragraph__p {
  font-size: .89rem;
  color: #605b5b; }

.btn-more {
  padding: .9rem 3rem;
  background-color: #bb9a6b;
  border-radius: 4rem;
  color: white;
  font-size: .89rem;
  margin-top: .8rem; }
  .btn-more:hover {
    background-color: #a1650a !important; }

.sidebar__icons {
  position: relative;
  top: -26.5rem;
  left: -4rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sidebar__icons i {
    font-size: .6rem; }

.sidebar__icons::before,
.sidebar__icons::after {
  height: 8rem;
  width: .9px;
  content: "";
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.563);
  margin: 2rem 0; }

.testimonials {
  margin-top: 5rem; }
  .testimonials__text-box {
    background-color: #201f1d;
    padding: 4rem;
    padding-bottom: 3rem; }
    .testimonials__text-box p {
      color: rgba(255, 255, 255, 0.856);
      font-weight: 300; }
    .testimonials__text-box h2 {
      color: white; }
  .testimonials__vector {
    width: 5%;
    left: -6rem;
    position: relative;
    top: 0; }
  .testimonials__99 {
    margin: 1.5rem 0;
    font-family: 'Exo', sans-serif;
    color: #bb9a6b !important;
    font-size: 3rem;
    font-weight: 600; }
  .testimonials__img {
    margin-top: .5rem;
    margin-bottom: 2rem; }
  .testimonials__william {
    color: white;
    font-weight: 500;
    font-size: 1.3rem; }
  .testimonials__video {
    width: 100%;
    height: 94.4%;
    cursor: pointer; }
    @media only screen and (max-width: 1399px) {
      .testimonials__video {
        height: 100%; } }
    @media only screen and (max-width: 992px) {
      .testimonials__video {
        margin-top: 2rem; } }

.why-choose-us {
  margin-top: 4rem; }
  .why-choose-us__img-box {
    padding-right: 4rem;
    position: relative; }
    @media only screen and (max-width: 992px) {
      .why-choose-us__img-box {
        margin-top: 2rem; } }
    @media only screen and (max-width: 400px) {
      .why-choose-us__img-box {
        padding-right: 0; } }
  .why-choose-us__img {
    width: 100%; }
    .why-choose-us__img-heading {
      font-weight: 600;
      font-size: .90rem;
      color: #5f5d5d; }
  .why-choose-us__img-text {
    background-color: white;
    position: relative;
    bottom: 13rem;
    width: 88%;
    transform: translateX(5%);
    padding: 2rem 1.5rem;
    border-radius: 5px; }
    @media only screen and (max-width: 300px) {
      .why-choose-us__img-text {
        bottom: 5rem; } }
  .why-choose-us__paragraph {
    font-size: 1.01rem;
    color: #5d5d5d; }
  .why-choose-us__icon-box {
    display: flex;
    width: 66%;
    align-items: center;
    margin-top: 1.4rem; }
    @media only screen and (max-width: 1200px) {
      .why-choose-us__icon-box {
        width: 80%; } }
    @media only screen and (max-width: 360px) {
      .why-choose-us__icon-box {
        width: 100%; } }
    @media only screen and (max-width: 700px) {
      .why-choose-us__icon-box_icon {
        width: 16%; } }
    @media only screen and (max-width: 266px) {
      .why-choose-us__icon-box_icon {
        width: 26%; } }
    .why-choose-us__icon-box h3 {
      color: #605b5b; }

.hero {
  margin-top: 4rem;
  padding-bottom: 5rem; }
  .hero__text-box {
    padding-right: 10rem;
    position: relative;
    margin: auto 0;
    color: #d0d0d0; }
    @media only screen and (max-width: 1401px) {
      .hero__text-box {
        padding-right: 5rem; } }
    @media only screen and (max-width: 1199px) {
      .hero__text-box {
        padding-right: 1rem; } }
    @media only screen and (max-width: 991px) {
      .hero__text-box {
        padding-right: 0rem; } }
    .hero__text-box-img {
      position: absolute;
      right: -2rem;
      top: -4rem; }
      @media only screen and (max-width: 1199px) {
        .hero__text-box-img {
          right: 1rem;
          display: none; } }
  .hero__paragraph-coff {
    border: 1px solid #bb9a6b;
    width: max-content;
    padding: .2rem .9rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 275px) {
      .hero__paragraph-coff {
        width: 70%; } }
  .hero__btn {
    padding: 1rem 3rem;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    font-size: .9rem; }
  .hero__ordernow {
    background-color: #bb9a6b;
    color: white;
    margin-right: 1rem; }
  .hero__see-menu {
    color: #bb9a6b;
    border: 1px solid #bb9a6b; }
    @media only screen and (max-width: 238px) {
      .hero__see-menu {
        margin-top: 1rem; } }
  .hero__img-box {
    text-align: right; }
    @media only screen and (max-width: 991px) {
      .hero__img-box {
        text-align: center; } }
  @media only screen and (max-width: 1200px) {
    .hero__img {
      width: 100%;
      margin: 4rem auto; } }
  .hero__indicators {
    bottom: 1rem !important; }

.carousel-indicators [data-bs-target] {
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  background-color: #bb9a6b; }

.carousel-indicators .active {
  opacity: 1;
  transform: scale(1.5); }
