$Light-green: #71fa59;
$Medium-green: #45bb6c;
$Dark-green: #18b983;
$color-grey: #777;
$color-white: #fff;
$color-grey-light: #f7f7f7;
$color-black: #000;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// grid
$gutter-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;