.my-btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    padding: 0 40px;
    font-size: 15px;
    line-height: 48px;
    border-radius: 5rem;
    color: $color-white;
    cursor: pointer;
    text-decoration: none;
    z-index: 5;
    transition: all 0.3s;
    text-transform: uppercase;
    border: 1px solid;
}

.my-btn-fill {
    border-color: $color-primary;
    box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
    background-color: $color-primary;

    &:hover {
        background-color: $color-white;
        color: $color-primary;
        border-color: $color-primary
    }
}

.my-btn-fill-2 {
    border-color: $color-primary;
    box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
    background-color: $color-white;
    color: $color-primary;

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        border-color: $color-primary
    }
}

.my-btn-ghost {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    box-shadow: none;

    &:hover {
        background-color: #fffffffb;
        color: $color-primary;
    }
}